@import 'reset';

$Vollkorn: 'Vollkorn', serif;
$Yester: 'Yesteryear', serif;
$Raleway: 'Raleway', sans-serif;
.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    background-image: url("../images/headerbg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 500px;
    position: relative;
    nav {
        position:fixed;
        width: 100%;
        z-index: 1;
        padding: 1em 0;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.8);
        height: 4.5em;
        overflow: hidden;
        div.wrapper{
            max-width: 1080px;
            margin: 0 auto;
            display:flex;
            justify-content: space-between;
            align-items: center;
            a{
                img {
                    height: 30px;
                }
            }
            a.icon {
                visibility: hidden;
                text-decoration: none;
                color: white;
            }
            ul {
                display:flex;
                li{
                    padding: 10px;
                    a{
                        text-decoration: none;
                        color: white;
                        font-family: 'Oswald', sans-serif;
                        font-size: 1em;
                    }
                    a:hover {
                        color: #ab3f1b;
                        border-bottom: 1px solid red;
                    }
                }
                li.icon {
                    display:hide;
                }
            }
        }
    }
    .ms-header { 
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        padding-top: 30vh;
        min-width: 100%;
        .ms-slider {
            display: inline-block;
            height: 1.5em;
            overflow: hidden;
            font-size: 3em;
            font-weight: bold;
            color: white;
            text-shadow: 0px 0px 2px rgba(black, .4);
            margin-bottom: 20px;
            &__words {
                display: inline-block;
                animation-name: wordSlider;
                animation-timing-function: ease-out;
                animation-iteration-count: infinite;
                animation-duration: 7s;
            }
            &__word {
                display: block;
                line-height: 1em;
                font-size: 1.8em;
                text-align: center;
                font-family: 'Bahiana', cursive;
            }
        }
        h6{
            padding-top: 1em;
            color: white;
            font-family: Oswald,sans-serif;
            letter-spacing: 4px;
        }
        .star{
            padding: 20px 0;
            width: 200px;
            margin: 0 auto;
            &_line{
                width: 40%;
                border-bottom: 1px solid white;
                display:inline-block;
                vertical-align: middle;
            }
            >span{
                color: white;
                padding: 0 5px;
            }
        }
        button {
            background: none;
            border: 1px solid white;
            padding: 10px 20px;
            margin: 10px 0;
            color: white;
            font-family: Oswald,sans-serif;
            letter-spacing: 1px;
            text-shadow: 1px 1px 1px black;
        }
        button:hover{
            cursor: pointer;
            animation-name: button;
            animation-duration: 0.8s;
            animation-iteration-count: 2;
        }
    }
}
main {
    section.about{
        padding: 75px 10px 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            flex-basis: 45%;
            text-align: center;
            h1{
                font-size: 3em;
                margin:20px 0;
            }
            p{
                color: #111;
                font-family: arial;
                line-height: 1.4em;
            }
        }
        div.slider {
            img{
                width: 100%;
            }
        }
    }
    section.menu{
        padding: 70px 5px 0 5px;
        box-sizing: border-box;
        h1 {
            text-align: center;
            font-family: 'Oswald', sans-serif;
            letter-spacing: 5px;
            font-size: 3em;
            margin-bottom: 20px;
        }
        h2 {
            font-family: sans-serif;
            color: #111;
            text-align: center;
            max-width: 700px;
            padding: 0 10px;
            margin: 0 auto;
            line-height: 1.5em;
        }
        button.book{
            border: 1px solid black;
            padding: 10px 20px;
            color: black;
            font-family: Oswald,sans-serif;
            background: none;
            display:block;
            margin: 0 auto;
        }
        button.book:hover{
            cursor: pointer;
            border-color: #ab3f1b;
        }
        .menu-cont{
            display:flex;
            justify-content: space-between;
            .menu-item{
                padding: 15px;
                margin-bottom: 15px;
                box-sizing: border-box;
                flex-basis:32%;
                border: 1px dashed black;
                h1{
                    font-size:2em;
                }
                div.food{
                    display:flex;
                    justify-content: space-between;
                    h3{
                        letter-spacing: 3px;
                        font-size: 1.1em;
                    }
                    span{
                        color: grey;
                        font-size: .8em;
                    }
                }
                p{
                    color: grey;
                    font-family: sans-serif;
                    font-size: 1em;
                    padding: 1em 0 2em 0;
                    line-height: 1.2em;
                }
            }
        }
    }
    section.gallery{
        max-width: 800px;
        padding-top: 70px;
        padding-bottom: 10px;
        h1{
            font-size: 3em;
            text-align: center;
            margin-bottom: 20px;
        }
        h2{
            font-size: 2em;
            border-top: 1px solid #111;
            border-bottom: 1px solid #111;
            padding: 10px;
            display:block;
            max-width: 450px;
            text-align: center;
            margin: 0 auto 20px auto;
        }
    }
    section.reservation {
            padding-top: 80px;
            h1{
                font-size: 3em;
                text-align: center;
                margin-bottom: 20px;
            }
            h2{
                font-size: 1em;
                text-align: center;
            }
            .form-cont{
                background-image: url("../images/slider5.jpg");
                background-size: cover;
                background-position: center;
                width: 100%;
                margin: 0 auto;
                padding: 100px 0;
                form{
                    max-width: 300px;
                    margin: 0 auto;
                    display:flex;
                    justify-content: space-between;
                    flex-direction: column;
                    input,select{
                        padding: 10px;
                        border-radius: 5px;
                        border: none;
                        margin: 5px 5px;
                        box-shadow: 1px 1px 5px black;
                        text-align: center;
                        color: grey;
                        text-align-last:center;
                        background-color: rgba(255, 255, 255, 0.9);
                    }
                    input[type="submit"]{
                        border-radius: 0;
                        color: white;
                        background-color: rgba(0, 0, 0, 0.8);
                    }
                    
                }
            }
    }
    section.contact{
        padding: 70px 0 20px 0;
        h1{
            font-size: 3em;
            text-align: center;
            margin-bottom: 20px;
        }
        h2{
            font-size: 2em;
            border-top: 1px solid #111;
            border-bottom: 1px solid #111;
            padding: 10px;
            display:block;
            max-width: 300px;
            text-align: center;
            margin: 0 auto 20px auto;
        }
        .content{
            display:flex;
            justify-content: space-between;
            .item{
                flex-basis: 49%;
                padding: 0 10px;
                margin-bottom: 10px;
                form{
                    input,textarea{
                        display:block;
                        width: 100%;
                        padding: 10px;
                        margin-bottom: 5px;
                        box-sizing: border-box;
                        resize: none;
                    }
                    input[type="submit"]{
                        color: white;
                        background-color: rgb(51, 48, 48);
                    }
                }
            }
            #map{
                height: 350px;
            }
        }
    }

    .star{
        padding: 20px 0;
        width: 200px;
        margin: 0 auto;
        &_line{
            width: 40%;
            border-bottom: 1px solid black;
            display:inline-block;
            vertical-align: middle;
        }
        >span{
            color: black;
            padding: 0 5px;
            font-size: 1.4em;
        }
    }
    
}
footer{
    background-color: rgb(31, 31, 31);
    >div{
        display:flex;
        padding: 50px 0;
        .item{
            flex: 1;
            text-align: center;
            color: white;
            h1{
                padding: 20px;
                letter-spacing: 4px;
            }
            p{
                font-family: sans-serif;
                font-size: .8em;
                line-height: 1.2em;
                padding: 5px;
            }
            a{
                padding: 0 10px;
            }
        }
        >div:nth-child(2){
            border-right: 1px dashed white;
            border-left: 1px dashed white;
        }
    }
}


@media screen and (max-width: 600px) {
    header{
        nav{
            div.wrapper{
                flex-direction: column;
                ul{
                    flex-direction: column;
                    align-items: center;
                }
                a.icon {
                    visibility: visible;
                }
            }
        }
        nav.responsive{
            animation-name: navbar;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
        div.ms-header{
            font-size: 0.8em;
        }
    }
    main{
        section.about{
            flex-direction: column;
            img{
                padding-top: 40px;
            }
        }
        section.menu{
            .menu-cont{
                flex-direction: column;
            }
        }
        section.contact{
            .content{
                flex-direction: column;
            }
        }
    }
    footer{
        >div{
            flex-direction: column;
            div:nth-child(2){
                border:none;
                order: 1;
            }
        }
    }
}


// ANIMATIONS
@keyframes button {
    0%   {font-size:0.8em}
    50%  {font-size:1.3em;}
    100% {font-size:0.8em}
}
@-webkit-keyframes navbar {
    from {height:4.5em;}
    to {height: 300px;}
}
//Header Word Slider
@keyframes wordSlider {
  $steps: -0%, -25%, -50%, -75%;
  
  @for $index from 0 to length($steps)-1 {
    $next: $index+1;
    $step: floor(100/(length($steps)-1));
    $animation_step: floor($step*.2);
  
    #{$step*$index}%,
    #{($step*$next) - $animation_step}% {
      transform: translateY(nth($steps, $index+1));
    }
  }
  100% {
    transform: translateY(nth($steps, length($steps)));
  }
}